<p>listar-productos works!</p>
<div class="container mt-5">
    <div class="row">
        <div class="col lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto">Nuevo</button>
                    <table class="table table-dark table-striped mt-5">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Precio</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Coca-Cola</td>
                            <td>Regresco</td>
                            <td>México</td>
                            <td>10</td>
                            <td>
                                <i class="fa-solid fa-trash text-danger" style="cursor: pointer; margin-left: 7px;"></i>&nbsp; 
                                <i class="fa-solid fa-pen-to-square text-primary" ></i>
                            </td>
                          </tr>
                          <tr>
                            <td>Madalenas</td>
                                <td>Pan</td>
                                <td>México</td>
                                <td>10</td>
                                <td>
                                    <i class="fa-solid fa-trash text-danger" style="cursor: pointer; margin-left: 7px;"></i>&nbsp; 
                                    <i class="fa-solid fa-pen-to-square text-primary"></i>
                                </td>
                          </tr>
                          <tr>
                            <td>Kinder</td>
                                <td>Chocolate</td>
                                <td>México</td>
                                <td>15</td>
                                <td>
                                    <i class="fa-solid fa-trash text-danger" style="cursor: pointer; margin-left: 7px;"></i>&nbsp; 
                                    <i class="fa-solid fa-pen-to-square text-primary"></i>
                                </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>